
$orange:hsl(25°, 100.00% , 50.00% ); //#ff6b00
$white:hsl(0°, 0.00% , 100.00% ); //#ffff

$white-gray:hsl(0°, 0.00% , 96.08% ); //#f5f5f5
$light-gray:hsl(0°, 0.00% , 69% ); //#b0b0b0
$media-gray:hsl(0°, 0.00% , 45.88% ); //#757575
$deep-gray:hsl(0°, 0.00% , 20.00% ); //#3333

$blue:	hsl(207°, 89.74% , 64.12% ); //#2196f3
$red:hsl(1°, 77.19% , 55.29% );//#e53935
$green:hsl(93°, 84.00% , 70.59% );//#83c44e

$themeColor:$blue;


$head-wrap: 50px;
$header-h: 40px;
$itemList-h: 70px;

$font-xs: 12px;
$font-s: 16px;
$font-m: 18px;
$font-l: 20px;

$icon-xs: 6px;
$icon-s: 16px;
$icon-m: 24px;
$icon-l: 30px;
